.tagline {
    @apply text-body font-header pt-20 text-center font-bold;
    font-family: 'bebas-neue';
}

.tagline h1 {
    font-size: 55px;
    line-height: 2;
}

.tagline p {
    font-size: 13.5px;
    line-height: 1;
}

.dashboard {
    position: absolute;
    bottom: 1px;
}